<script>
  $(function() {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
<script src="/script.js"></script>
<script type="module" src="./main.js"></script>
</body>
<footer class="footer1 py-3 bg-dark text-white text-center mt-2"  data-bs-toggle="tooltip" data-bs-placement="top" title = "Wesbite devoloped by Arya, Bharath, and Bhavesh" >
  <div class="container">
    <p class="mb-0 text-white">&copy; <%= new Date().getFullYear() %> PSG ITECH <br>
    </p>
  </div>
</footer>

</html>