<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/lateattendance/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


  <!-- Logo -->
  <link href="https://psgitech.ac.in/assets/images/favicon.png" rel="shortcut icon">

  <!-- Meta TAGS -->
  <meta name="description" content="Track the late attendance of students.">
  <meta name="keywords" content="Late Attendance Tracker, Attendance Management, Late Attendance">
  <meta name="author" content="Arya Anand">

  <meta property="og:title" content="Late Attendance Tracking" />
  <meta property="og:description" content="Track the late attendance of students with detailed views and graphs" />
  <meta property="og:image" content="https://psgitech.ac.in/assets/images/favicon.png" />
  <meta property="og:url" content="https://sdc2.psgitech.ac.in/lateattendance" />
  <meta property="og:type" content="website" />



  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
  </script>

  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/92390b5043.js" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
  <script src="https://unpkg.com/lenis@1.2.3/dist/lenis.min.js"></script>
</head>

<body class="main-content">
  <nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/lateattendance">
        <img src="https://psgitech.ac.in/assets/images/favicon.png" alt="PSG Tech Logo" class="logo">
      </a>
      <a class="navbar-brand" href="/lateattendance">Late Attendance</a>

      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/lateattendance/student">Student Lookup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lateattendance/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lateattendance/lateAbsenceForm">Mark Absence</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lateattendance/records">Records</a>
          </li>
          <% if (isAuthenticated === true) { %>
          <li class="nav-item">
            <a class="nav-link logout-btn" href="/lateattendance/logout" data-bs-toggle="tooltip" data-placement="left" title="Logout">
              <i class="fa-solid fa-right-from-bracket"></i>
            </a>
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="nav-link login-btn" href="/lateattendance/login" data-bs-toggle="tooltip" data-placement="left" title="Login">
              <i class="fa-solid fa-right-to-bracket"></i>
            </a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Custom Alert -->
  <div id="customAlert" class="alert-green">
    <p id="alertMessage">This is a custom alert!</p>
    <button id="okButton" onclick="closeAlert()">OK</button>
  </div>