<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<div class="container">

  <h1 class="m-lg-5 m-auto mt-3 mb-2 w-100 ">Late Attendance Form</h1>
  <div class="container-fluid container">

    <form id="absenceForm" method="POST">
      <div class="form-group ms-lg-5">
        <label for="Reg_no">Registration Number:</label>
        <div class="input-group mb-3">
          <input type="text" id="Reg_no" name="Reg_no" required title="Input" class="form-control w-75">
          <button type="submit" class="btn btn-outline-primary w-25">Verify</button>
        </div>
        <div class="w-100 d-flex justify-content-center mb-3">
          <button type="button" id="restartScan" class="btn btn-secondary w-100 m-auto">
            <i class="bi bi-qr-code-scan"></i> Reset and Scan Barcode
          </button>
        </div>
        <div id="barcodeCont" class="justify-content-center"></div>
      </div>
    </form>

    <div id="studentData" class="border-1 m-2 p-2">
      <div class="d-flex justify-content-center">
        <h2>Please verify the student information</h2>
      </div>
      <p class="side"><strong>Student Name <span class="col1">:</span></strong> <span id="studentName"></span></p>
      <p class="side"><strong>Department<span class="col2">:</span></strong> <span id="department"></span></p>
      <p class="side"><strong>Section<span class="col4">:</span></strong> <span id="section"></span></p>
      <p class="side"><strong>Mobile Number<span class="col3">:</span></strong> <span id="mobNo"></span></p>
      <p class="side"><strong>Email <span class="mailcol"> :</span></strong> <span id="mailId"></span></p>
    
    
      <form class="" id="absenceReasonForm" method="POST">
        <input type="text" id="Reg_no2" name="Reg_no2" placeholder="Registration Number">

        <label class="side" for="reason"><strong>Reason<span class="mailcol-2"> :</span></strong></label>
        <select class="w-50" id="dropdown" name="reason" onchange="handleDropdownChange()" size="1">
          <option value="Option " class="ps-3">---Select---</option>
          <option value="Option 1">Woke up late</option>
          <option value="Option 2">Transport Delay</option>
          <option value="Option 3">Medical Emergency</option>
          <option value="Option 5">Hostel Food</option>
          <option value="Option 6">Hostel Water</option>
          <option value="Others">Others</option>
        </select>

        <div class="text-box " id="textBoxContainer">
          <div class="d-flex">
            <p class="side" for="otherText"><strong>Please specify<span class="inputbox"> :</span></strong></p>
            <input class="rounded-1 h-25 w-50" type="text" id="otherText" name="reason1" placeholder="Enter your input">
          </div>
        </div>

      <button type="submit" class="btn btn-primary mt-3 submitbtn w-sm-100">Submit Absence</button>
      </form>
    </div>

    </div>
  </div>
</div>
<script>
  function handleDropdownChange() {
    const dropdown = document.getElementById('dropdown');
    const textBoxContainer = document.getElementById('textBoxContainer');

    if (dropdown.value === 'Others') {
      textBoxContainer.style.display = 'block';
    } else {
      textBoxContainer.style.display = 'none';
      document.getElementById('otherText').value = '';
    }
  }


</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>

<script>
  document.getElementById('absenceReasonForm').addEventListener('submit', async function(e) {
    e.preventDefault();
    const reasonEle = document.getElementById('dropdown');
    var value = reasonEle.value;
    var reason = reasonEle.options[reasonEle.selectedIndex].text;
    if (reason === "Others"){
      reason = document.getElementById("otherText").value
    }
    const Reg_no2 = document.getElementById('Reg_no2').value;
    
    const response = await fetch('/lateattendance/save-absence', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        reason: reason,
        Reg_no2: Reg_no2
      })
    });
    const data = await response.json();
    

    console.log(data);
    if (!response.ok) {
      throw new Error('Submit failed');
    }

    if (data.success !== true) {

      showAlert(false, data.message)
      // alert(data.message);
    } else {
      if (data.late_attendance_count > 5){
        showAlert("red", `This student has been late for more than 5 times.\n Please inform the HOD. \n`, ()=>{
        location.reload()
        })
      } else if (data.late_attendance_count > 3){
        showAlert("yellow", `This student has been late for more than 3 times.\n Please inform the tutor. \n`, ()=>{
        location.reload()
        })
      } else {
        showAlert("green", `${data.message}\nLate Count -  ${data.late_attendance_count}`, ()=>{
        location.reload()
        })
      }
      
    }


  });
</script>
<script>

  const form = document.getElementById('absenceForm');
  form.onsubmit = async (e) => {
    e.preventDefault();
    const Reg_no = document.getElementById('Reg_no').value;
    console.log(Reg_no)
    const response = await fetch(`/lateattendance/fetch-student/${Reg_no}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        Reg_No: Reg_no,
      })
    });
    const data = await response.json();
    console.log("Data: ", data);
    if (data.message === "Student not found."){
      alert(data.message)
    }
    if (!response.ok) {
      throw new Error('Form Submit Failed');
    }
    const student = data;
    
    document.getElementById("barcodeCont").style.display = "None"
    // document.getElementById("studentData").style.display = "Block"
    // console.log(document.getElementById('Reg_no2').value, student.Reg_No)
    document.getElementById('studentName').textContent = student.Student_Name;
    document.getElementById('department').textContent = student.Department;
    document.getElementById('section').textContent = student.Section;
    document.getElementById('mobNo').textContent = student.Mob_no;
    document.getElementById('mailId').textContent = student.Mail_Id;
    // document.getElementById('residence').textContent = student.Residence;
    document.getElementById('Reg_no2').value = student.Reg_No;
    document.getElementById('studentData').style.display = 'block';
    const box = document.querySelector('#barcodeCont');
    box.style.display = 'none';
    adjustFooter()
  };

  QuaggaInit = function () {
    Quagga.init({
      inputStream: {
        name: "Live",
        type: "LiveStream",
        target: document.querySelector('#barcodeCont'),
        constraints: {
          width: 1920,
          height: 1080,
          facingMode: "environment",
        },
        area: {
          top: "10%",
          right: "10%",
          left: "10%",
          bottom: "10%"
        },
        singleChannel: false
      },
      decoder: {
        readers: ["code_128_reader"]
      }
    }, function (err) {
      if (err) {
        console.error(err);
        return;
      }
      Quagga.start();

    });
    document.getElementById("studentData").style.display = "None"


  }

  QuaggaInit()

  Quagga.onDetected(function (result) {
    const code = result.codeResult.code;
    const box = document.querySelector('#barcodeCont');
    box.style.display = 'none';
    document.getElementById('Reg_no').value = code;
    Quagga.stop();
    form.onsubmit(new Event('submit'));
    document.getElementById('reason').focus();
    adjustFooter()
  });

  window.addEventListener('beforeunload', function () {
    Quagga.stop();
  });

  window.addEventListener("DOMContentLoaded", () => {
    const video = document.querySelector('#barcodeCont video');
    if (video) {
      video.style.width = '100%';
      video.style.height = 'auto';
    }
  })

  const intervalId = setInterval(() => {
    console.log("Running");
    let count = document.getElementsByClassName("drawingBuffer").length;
    if (count > 0) {
      document.getElementsByClassName("drawingBuffer")[0].style.display = "none";
      clearInterval(intervalId);
    }
  }, 10);


  function resetUI() {
    document.getElementById('Reg_no').value = '';
    document.getElementById('studentData').style.display = 'none';
    document.getElementById('barcodeCont').style.display = 'block';
  }

  document.getElementById('restartScan').addEventListener('click', restartScanner);

  function restartScanner() {
    Quagga.stop();
    resetUI();
    QuaggaInit()
  }
</script>