<%- include('partials/header', { title: title }) %>

<% if (typeof msg !== 'undefined') { %>
<div id="alertBox" class="alert alert-info alert-dismissible fade show w-50 w-sm-100 m-auto mt-3 fixed-top shadow-lg" role="alert">
  <span class="fw-bold"><%= msg %></span>
  <button type="button" class="close btn btn-outline-light ms-3 close-btn" id="closeAlert">
    <span>&times;</span>
  </button>
  <div class="progress-bar"></div>
</div>
<% } %>
</div>
<%- body %>

<%- include('partials/footer') %>