<div class="container main">

    <div class="container py-5">
      <form id="resetForm" class="p-4 mx-auto border rounded shadow-lg" style="max-width: 500px; background: #ffffff;">
        <h2 class="text-center text-primary fw-bold mb-4">Reset Passoword</h2>
        <div class="mb-4">
          <label for="Reg_No" class="form-label fw-bold">Old password:</label>
          <input type="text" required class="form-control p-2" name="Reg_No" id="Reg_No">
        </div>
        <div class="mb-4">hu
          <label for="password" class="form-label fw-bold">Password:</label>
          <input type="password" required class="form-control p-2" name="password" id="password">
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-outline-primary w-100">Login</button>
        </div>
      
      </form>
    </div>
  </div>
  