<div class="container main">

    <div class="container py-5">
        <form id="resetForm" class="p-4 mx-auto border rounded shadow-lg"
            style="max-width: 500px; background: #ffffff;">
            <h2 class="text-center text-primary fw-bold mb-4">Reset Passoword</h2>
            <div class="mb-4">
                <label for="Reg_No" class="form-label fw-bold">Register No:</label>
                <input type="text" required class="form-control p-2" name="Reg_No" id="Reg_No">
            </div>
            <div class="mb-4">
                <label for="oPassword" class="form-label fw-bold">Old password:</label>
                <input type="password" required class="form-control p-2" name="oPassword" id="oPassword">
            </div>
            <div class="mb-4">
                <label for="nPassword" class="form-label fw-bold">New Password:</label>
                <input type="password" required class="form-control p-2" name="nPassword" id="nPassword">
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-outline-primary w-100">Confirm</button>
            </div>

        </form>
    </div>
</div>
<script>
    document.getElementById('resetForm').addEventListener('submit', async function (e) {
        e.preventDefault();
        const oPassword = document.getElementById('oPassword').value;
        const nPassword = document.getElementById('nPassword').value;
        const Reg_No = document.getElementById('Reg_No').value;
        console.log(Reg_No, nPassword, oPassword)

        const response = await fetch('/lateattendance/resetpassword', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                Reg_No: Reg_No,
                oPassword: oPassword,
                nPassword, nPassword
            })
        });
        const data = await response.json();
        console.log(data);
        if (!response.ok) {
            throw new Error('Reset password failed');
        }
        if (data.success === true) {
            alert("Password changed successfuly");
            window.location.href = '/lateattendance/login';
            
        } else {
            alert(data.message)
        }

    })

</script>